openapi: 3.1.0
info:
  title: QuantMail API (repaired)
  version: 1.0.0
  description: 'Repaired OpenAPI spec generated read-only from apps/quantmail/backend route sources (ref ca23e3b9). Base path
    fixed: the server has no /api/v1 base path; routes are mounted at their literal prefixes (/emails, /auth/login, /api/v1/ai/triage,
    ...). Auth: Bearer JWT by default; public endpoints marked security: []. POST /oauth/token returns refresh_token in the
    JSON body; POST /auth/login sets it as an HttpOnly cookie only. See REPAIR_REPORT.md.'
  contact:
    name: Quant Eco
servers:
- url: https://quantmail.com
  description: Production (QUANTMAIL_ISSUER default)
- url: http://localhost:3010
  description: Local backend default (PORT=3010)
tags:
- name: Mail
- name: Auth
- name: OAuth
- name: AI
- name: Calendar
- name: Drive
- name: Documents
- name: Code
- name: CI
- name: Contacts
- name: DAV
- name: Workspaces
- name: Notifications
- name: Attachments
- name: Billing
- name: Admin
- name: Audit
- name: Retention
- name: Deliverability
- name: Domains
- name: E2EE
- name: Federation
- name: Mail Settings
- name: Search
- name: Settings
- name: Webhooks
- name: System
paths:
  /.well-known/caldav:
    get:
      tags:
      - System
      summary: List .well known caldav
      operationId: getWellKnownCaldav
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
      security: []
    post:
      tags:
      - System
      summary: Discover .well known caldav
      operationId: propfindWellKnownCaldav
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
      security: []
      x-webdav-method: PROPFIND
      description: Actual HTTP method is PROPFIND (WebDAV/CalDAV/CardDAV).
  /.well-known/carddav:
    get:
      tags:
      - System
      summary: List .well known carddav
      operationId: getWellKnownCarddav
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
      security: []
    post:
      tags:
      - System
      summary: Discover .well known carddav
      operationId: propfindWellKnownCarddav
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
      security: []
      x-webdav-method: PROPFIND
      description: Actual HTTP method is PROPFIND (WebDAV/CalDAV/CardDAV).
  /.well-known/jwks.json:
    get:
      tags:
      - OAuth
      summary: JWKS — the public half of QuantMail's OIDC signing key(s). Relying parties fetch this to verify id_tokens.
        Served from the asymmetric key resolved by the OidcKeyService (env-provid
      operationId: getWellKnownJwksJson
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
      security: []
  /.well-known/openid-configuration:
    get:
      tags:
      - OAuth
      summary: Discovery (OpenID Connect Discovery 1.0 + RFC 8414)
      operationId: getWellKnownOpenidConfiguration
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
      security: []
  /admin/accounts/count:
    get:
      tags:
      - Admin
      summary: total registered accounts (soft-deleted excluded).
      operationId: getAdminAccountsCount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /admin/inbound/sync-all:
    post:
      tags:
      - Webhooks
      summary: 'replay stored messages from the inbound bucket. A recovery tool for the case where notifications were lost:
        it re-reads objects and re-runs delivery, which is only safe'
      operationId: postAdminInboundSyncAll
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /admin/mail/deliverability:
    get:
      tags:
      - Admin
      summary: per-status attempt counts + success rate (24h).
      operationId: getAdminMailDeliverability
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /admin/sessions/active:
    get:
      tags:
      - Admin
      summary: sessions active in the last 24h and not expired.
      operationId: getAdminSessionsActive
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /admin/storage/summary:
    get:
      tags:
      - Admin
      summary: bytes used + live file count across Drive.
      operationId: getAdminStorageSummary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /ai/chat:
    post:
      tags:
      - AI
      summary: Create ai chat
      operationId: postAiChat
      requestBody:
        description: Validated by chatSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chatSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /ai/chat/health:
    get:
      tags:
      - AI
      summary: List chat health
      operationId: getAiChatHealth
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /ai/compose:
    post:
      tags:
      - AI
      summary: Create ai compose
      operationId: postAiCompose
      requestBody:
        description: Validated by composeSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/composeSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/admin/accounts/count:
    get:
      tags:
      - Admin
      summary: total registered accounts (soft-deleted excluded).
      operationId: getApiAdminAccountsCount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/admin/mail/deliverability:
    get:
      tags:
      - Admin
      summary: per-status attempt counts + success rate (24h).
      operationId: getApiAdminMailDeliverability
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/admin/sessions/active:
    get:
      tags:
      - Admin
      summary: sessions active in the last 24h and not expired.
      operationId: getApiAdminSessionsActive
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/admin/storage/summary:
    get:
      tags:
      - Admin
      summary: bytes used + live file count across Drive.
      operationId: getApiAdminStorageSummary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/audit-logs:
    get:
      tags:
      - Audit
      summary: List immutable audit logs with multi-tenant authorization and cursor pagination
      operationId: getApiAuditLogs
      parameters:
      - name: page
        in: query
        required: true
        schema:
          type: integer
          minimum: 1.0
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: orgId
        in: query
        required: false
        schema:
          type: string
      - name: organizationId
        in: query
        required: false
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      - name: action
        in: query
        required: false
        schema:
          type: string
      - name: resource
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Audit
      summary: Append an immutable audit log entry
      operationId: postApiAuditLogs
      requestBody:
        description: Validated by createAuditLogSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuditLogSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/audit-logs/{id}:
    delete:
      tags:
      - Audit
      summary: Delete audit logs
      operationId: deleteApiAuditLogsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    patch:
      tags:
      - Audit
      summary: Update audit logs
      operationId: patchApiAuditLogsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    put:
      tags:
      - Audit
      summary: 'Immutability Guard: Reject any mutation or deletion of audit logs'
      operationId: putApiAuditLogsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/ci/builds/{id}/logs:
    get:
      tags:
      - CI
      summary: Mount both /api/ci/builds/:id/logs and /ci/builds/:id/logs endpoints
      operationId: getApiCiBuildsbyIdLogs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: stream
        in: query
        required: false
        schema:
          type: string
      - name: once
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/ci/healing/auto-fix:
    post:
      tags:
      - CI
      summary: Create healing auto fix
      operationId: postApiCiHealingAutoFix
      requestBody:
        description: Validated by AutoPrInputSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoPrInputSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/ci/healing/status/{buildId}:
    get:
      tags:
      - CI
      summary: List healing status
      operationId: getApiCiHealingStatusbyBuildid
      parameters:
      - name: buildId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/ci/healing/suggest:
    post:
      tags:
      - CI
      summary: Mount with both prefixes
      operationId: postApiCiHealingSuggest
      requestBody:
        description: Validated by CIFixInputSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CIFixInputSchema'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos:
    post:
      tags:
      - Code
      summary: Create git repos
      operationId: postApiCodeGitRepos
      parameters:
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}:
    delete:
      tags:
      - Code
      summary: Delete git repos
      operationId: deleteApiCodeGitReposbyOwnerbyName
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    get:
      tags:
      - Code
      summary: List git repos
      operationId: getApiCodeGitReposbyOwnerbyName
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    patch:
      tags:
      - Code
      summary: Update git repos
      operationId: patchApiCodeGitReposbyOwnerbyName
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/blob/{ref}/{path}:
    get:
      tags:
      - Code
      summary: List repos blob
      operationId: getApiCodeGitReposbyOwnerbyNameBlobbyRefbyPath
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: path
        required: true
        schema:
          type: string
          description: Wildcard/rest segment
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/branches:
    get:
      tags:
      - Code
      summary: List repos branches
      operationId: getApiCodeGitReposbyOwnerbyNameBranches
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/commits:
    get:
      tags:
      - Code
      summary: List repos commits
      operationId: getApiCodeGitReposbyOwnerbyNameCommits
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/compare/{base}...{head}:
    get:
      tags:
      - Code
      summary: List repos compare
      operationId: getApiCodeGitReposbyOwnerbyNameComparebyBase}...{head
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: base
        in: path
        required: true
        schema:
          type: string
      - name: head
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/purge:
    delete:
      tags:
      - Code
      summary: Delete repos purge
      operationId: deleteApiCodeGitReposbyOwnerbyNamePurge
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/push:
    post:
      tags:
      - Code
      summary: 'Requirement 6.3: Push refs to repository (enforces write scope / owner access).'
      operationId: postApiCodeGitReposbyOwnerbyNamePush
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/tree/{ref}:
    get:
      tags:
      - Code
      summary: List repos tree
      operationId: getApiCodeGitReposbyOwnerbyNameTreebyRef
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/repos/{owner}/{name}/tree/{ref}/{path}:
    get:
      tags:
      - Code
      summary: List repos tree
      operationId: getApiCodeGitReposbyOwnerbyNameTreebyRefbyPath
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: path
        required: true
        schema:
          type: string
          description: Wildcard/rest segment
      - name: ref
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/issues:
    get:
      tags:
      - Code
      summary: list issues
      operationId: getApiCodeGitbyOwnerbyNameIssues
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - CLOSED
      - name: labels
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          maximum: 100.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Code
      summary: create issue
      operationId: postApiCodeGitbyOwnerbyNameIssues
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - CLOSED
      - name: labels
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          maximum: 100.0
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/issues/{number}:
    get:
      tags:
      - Code
      summary: get issue
      operationId: getApiCodeGitbyOwnerbyNameIssuesbyNumber
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    patch:
      tags:
      - Code
      summary: update issue
      operationId: patchApiCodeGitbyOwnerbyNameIssuesbyNumber
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/issues/{number}/assignees:
    post:
      tags:
      - Code
      summary: set assignees
      operationId: postApiCodeGitbyOwnerbyNameIssuesbyNumberAssignees
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/issues/{number}/close:
    post:
      tags:
      - Code
      summary: close issue
      operationId: postApiCodeGitbyOwnerbyNameIssuesbyNumberClose
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/issues/{number}/labels:
    post:
      tags:
      - Code
      summary: set labels
      operationId: postApiCodeGitbyOwnerbyNameIssuesbyNumberLabels
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/issues/{number}/reopen:
    post:
      tags:
      - Code
      summary: reopen issue
      operationId: postApiCodeGitbyOwnerbyNameIssuesbyNumberReopen
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls:
    get:
      tags:
      - Code
      summary: list PRs
      operationId: getApiCodeGitbyOwnerbyNamePulls
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - MERGED
          - CLOSED
          - DRAFT
      - name: page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          maximum: 100.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Code
      summary: create PR
      operationId: postApiCodeGitbyOwnerbyNamePulls
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - MERGED
          - CLOSED
          - DRAFT
      - name: page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          maximum: 100.0
      requestBody:
        description: Validated by Record
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}:
    get:
      tags:
      - Code
      summary: List git pulls
      operationId: getApiCodeGitbyOwnerbyNamePullsbyNumber
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}/ai-review:
    post:
      tags:
      - Code
      summary: generate automated AI review and lint suggestions (Task CH-05)
      operationId: postApiCodeGitbyOwnerbyNamePullsbyNumberAiReview
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}/close:
    post:
      tags:
      - Code
      summary: close PR
      operationId: postApiCodeGitbyOwnerbyNamePullsbyNumberClose
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}/comments:
    post:
      tags:
      - Code
      summary: add comment
      operationId: postApiCodeGitbyOwnerbyNamePullsbyNumberComments
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}/diff:
    get:
      tags:
      - Code
      summary: get diff
      operationId: getApiCodeGitbyOwnerbyNamePullsbyNumberDiff
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}/merge:
    post:
      tags:
      - Code
      summary: merge PR
      operationId: postApiCodeGitbyOwnerbyNamePullsbyNumberMerge
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}/merge-eligibility:
    get:
      tags:
      - Code
      summary: evaluate merge decision (CI + protection + reviews)
      operationId: getApiCodeGitbyOwnerbyNamePullsbyNumberMergeEligibility
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/git/{owner}/{name}/pulls/{number}/reviews:
    get:
      tags:
      - Code
      summary: list reviews for PR
      operationId: getApiCodeGitbyOwnerbyNamePullsbyNumberReviews
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Code
      summary: submit review
      operationId: postApiCodeGitbyOwnerbyNamePullsbyNumberReviews
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/gitd/repos/{owner}/{name}/git-receive-pack:
    post:
      tags:
      - Code
      summary: Create repos git receive pack
      operationId: postApiCodeGitdReposbyOwnerbyNameGitReceivePack
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - PatAuth: []
  /api/code/gitd/repos/{owner}/{name}/git-upload-pack:
    post:
      tags:
      - Code
      summary: Create repos git upload pack
      operationId: postApiCodeGitdReposbyOwnerbyNameGitUploadPack
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - PatAuth: []
  /api/code/gitd/repos/{owner}/{name}/info/refs:
    get:
      tags:
      - Code
      summary: List info refs
      operationId: getApiCodeGitdReposbyOwnerbyNameInfoRefs
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - PatAuth: []
  /api/code/{owner}/{name}/ci/runs:
    get:
      tags:
      - Code
      summary: list CI runs
      operationId: getApiCodebyOwnerbyNameCiRuns
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - PENDING
          - RUNNING
          - SUCCESS
          - FAILED
          - CANCELLED
      - name: page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          maximum: 100.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Code
      summary: trigger a new pipeline run against ci-runner
      operationId: postApiCodebyOwnerbyNameCiRuns
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/{owner}/{name}/ci/runs/{runId}:
    get:
      tags:
      - Code
      summary: get specific run
      operationId: getApiCodebyOwnerbyNameCiRunsbyRunid
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/{owner}/{name}/ci/runs/{runId}/jobs:
    get:
      tags:
      - Code
      summary: list jobs for run
      operationId: getApiCodebyOwnerbyNameCiRunsbyRunidJobs
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/{owner}/{name}/ci/runs/{runId}/jobs/{jobId}/logs:
    get:
      tags:
      - Code
      summary: get job logs
      operationId: getApiCodebyOwnerbyNameCiRunsbyRunidJobsbyJobidLogs
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: runId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/{owner}/{name}/ci/runs/{runId}/retry:
    post:
      tags:
      - Code
      summary: retry a failed run
      operationId: postApiCodebyOwnerbyNameCiRunsbyRunidRetry
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/code/{owner}/{name}/ci/runs/{runId}/status:
    get:
      tags:
      - Code
      summary: report run status + per-job breakdown
      operationId: getApiCodebyOwnerbyNameCiRunsbyRunidStatus
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contact-groups:
    get:
      tags:
      - Contacts
      summary: List contact groups
      operationId: getApiContactGroups
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Contacts
      summary: Create contact groups
      operationId: postApiContactGroups
      requestBody:
        description: Validated by createGroupSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGroupSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contact-groups/{id}:
    delete:
      tags:
      - Contacts
      summary: Delete contact groups
      operationId: deleteApiContactGroupsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    get:
      tags:
      - Contacts
      summary: List contact groups
      operationId: getApiContactGroupsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    put:
      tags:
      - Contacts
      summary: Replace contact groups
      operationId: putApiContactGroupsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: Validated by updateGroupSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateGroupSchema'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts:
    get:
      tags:
      - Contacts
      summary: List contacts
      operationId: getApiContacts
      parameters:
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Contacts
      summary: Create contacts
      operationId: postApiContacts
      parameters:
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        description: Validated by addContactSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addContactSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/deduplicate:
    post:
      tags:
      - Contacts
      summary: (Tasks X03, D20)
      operationId: postApiContactsDeduplicate
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/directory:
    get:
      tags:
      - Contacts
      summary: The address book as a flat list of addresses, for callers that need set membership rather than contact records
        — the inbox's `Contacts` lens asks "is this conversation with som
      operationId: getApiContactsDirectory
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/duplicates:
    get:
      tags:
      - Contacts
      summary: (Task QC-02)
      operationId: getApiContactsDuplicates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/export/csv:
    get:
      tags:
      - Contacts
      summary: (Task QC-01)
      operationId: getApiContactsExportCsv
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/export/vcard:
    get:
      tags:
      - Contacts
      summary: (Task QC-01)
      operationId: getApiContactsExportVcard
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/frequent:
    get:
      tags:
      - Contacts
      summary: List contacts frequent
      operationId: getApiContactsFrequent
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/import:
    post:
      tags:
      - Contacts
      summary: (Tasks X03, D20)
      operationId: postApiContactsImport
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/import/csv:
    post:
      tags:
      - Contacts
      summary: (Task QC-01)
      operationId: postApiContactsImportCsv
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/import/vcard:
    post:
      tags:
      - Contacts
      summary: (Task QC-01)
      operationId: postApiContactsImportVcard
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              type: object
              description: JSON body (fields not extracted)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/merge:
    post:
      tags:
      - Contacts
      summary: (Task QC-02)
      operationId: postApiContactsMerge
      requestBody:
        description: Validated by mergeSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mergeSchema'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/search:
    get:
      tags:
      - Contacts
      summary: List contacts search
      operationId: getApiContactsSearch
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1.0
          maximum: 100.0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/contacts/{id}:
    delete:
      tags:
      - Contacts
      summary: Delete contacts
      operationId: deleteApiContactsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    get:
      tags:
      - Contacts
      summary: 'Registered after the three static routes it shares a prefix with. Fastify''s radix router prefers a static
        segment over a parametric one, so `/search`, `/frequent` and `/directory` '
      operationId: getApiContactsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    put:
      tags:
      - Contacts
      summary: Replace contacts
      operationId: putApiContactsbyId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: Validated by updateContactSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateContactSchema'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/deliverability/dmarc-reports:
    post:
      tags:
      - Deliverability
      summary: Ingest RFC 7489 DMARC XML report
      operationId: postApiDeliverabilityDmarcReports
      requestBody:
        description: Validated by dmarcReportPayloadSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dmarcReportPayloadSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/deliverability/stats:
    get:
      tags:
      - Deliverability
      summary: Deliverability dashboard metrics
      operationId: getApiDeliverabilityStats
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/deliverability/suppression:
    get:
      tags:
      - Deliverability
      summary: List suppressed addresses
      operationId: getApiDeliverabilitySuppression
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
    post:
      tags:
      - Deliverability
      summary: Add address to suppression list
      operationId: postApiDeliverabilitySuppression
      requestBody:
        description: Validated by addSuppressionSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addSuppressionSchema'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/deliverability/suppression/check:
    get:
      tags:
      - Deliverability
      summary: Check if specific address is suppressed
      operationId: getApiDeliverabilitySuppressionCheck
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/deliverability/suppression/{email}:
    delete:
      tags:
      - Deliverability
      summary: Remove address from suppression list
      operationId: deleteApiDeliverabilitySuppressionbyEmail
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessWrapper'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - BearerAuth: []
  /api/documents:
    get:
      tags:
      - Documents
      summary: 'Lists documents owned by user (where: { userId, isDeleted: false }) with sorting, search across title & content,
        and parentId filtering'
      operationId: getApiDocuments
      parameters:
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          enum:
          - updatedAt
          - createdAt
          - title
      - name: sortOrder
        in: query
        required: false
        schema:
[...]
